.astromo-icon-bar {

  @include icon-bar(
    $bar-bg: $darker-slate,
    $bar-hover-color: $green
  );
}

.dashboard__sidenav {

  .item {
    text-align: left;
    line-height: 16px;

    i {
      font-style: normal;
      font-size: 16px;
    }
    label {
      font-size: 13px;
      padding-left: 5px;
    }
    i, label { display: inline-block; }

  }

}
