.astromo__dashboard {
  height: 100%;
  display: flex;

  .login__alert {
    position: absolute;
    width: 100%;

    text-align: center;
    font-size: 15px;

    background-color: $red;
    border-color: transparent;
    transition: none; // will cause angular to delay the component being hidden
  }

  .dashboard__main {
    flex: 1;

    padding: 20px 40px;
  }

}
