/**
 * Settings
 */
$header-font-family  : 'Ubuntu', arial, sans-serif;
$panel-border-style  : none;
$button-border-style : none;
$button-font-family  : inherit;

/**
 * Vendor Components
 */
@import '../../bower_components/foundation/scss/foundation';

/**
 * Astromo Components
 */
@import '../../bower_components/astromo-styles/astromo';

// body styles for inherit attributes
body {
  font-family: 'Open Sans', arial, sans-serif;
}

// Dashboard
@import 'dashboard';
@import '_login';
@import '_sidenav';

// Home
@import '_home';

// Metrics
@import '../modules/dashboard-metrics/styles/metrics';
