/**
 * Astromo Components
 */
@import '../../bower_components/astromo-styles/astromo';

/**
 * Settings
 */
$header-font-family  : 'Ubuntu', arial, sans-serif;

$panel-border-style  : none;

// buttons
$button-border-style : none;
$button-font-family  : inherit;

// tabs
$tabs-navigation-bg-color        : rgba(0, 0, 0, 0);
$tabs-navigation-active-bg-color : rgba(0, 0, 0, 0);
$tabs-navigation-padding         : 0.9375rem;
$tabs-content-padding            : $tabs-navigation-padding * 2;

// tables
$table-head-bg      : #FFF;
$table-bg           : #FCFCFC;
$table-even-row-bg  : #FFF;
$table-row-padding  : 0.9375rem;
$table-head-padding : $table-row-padding;

/**
 * Vendor Components
 */
@import '../../bower_components/foundation/scss/foundation';

.button {
  @include button(
    $bg         : $green,
    $radius     : true
  );
}

// TODO: move to shared styles repo
@mixin button-outline($color) {
  background-color: transparent;
  border: solid 1px $color;
  color: $color;

  &:hover {
    border: solid 1px darken($color, 10);
    color: darken($color, 10);
  }
}

.button.outline {
  @include button-outline($green);
}

.button.alert.outline {
  @include button-outline($red);
}

.tabs .tab-title.active {
  // border-top: solid 2px $green;
  // border-left: solid 1px darken($almost-white, 5);
  // border-right: solid 1px darken($almost-white, 5);
  // border-bottom: none;
  border-bottom: solid 2px $green;
}

.tabs .tab-title {
  border-bottom: solid 1px darken($almost-white, 5);
}

table { border-collapse: collapse; }
table tr { border: solid 1px $gainsboro; }

// body styles for inherit attributes
body {
  font-family: 'Open Sans', arial, sans-serif;
}

i[data-icon] {
  font-style: normal;
}

// Dashboard
@import 'dashboard';
@import '_login';
@import '_sidenav';

// Home
@import '_home';

// Metrics
@import '../modules/dashboard-metrics/styles/metrics';

// Profile
@import '../modules/dashboard-settings/styles/settings';
