<div class="settings__billing">
  <h3>Billing History</h3>

  <table class="billing__history">
    <thead>
      <tr>
        <th width="200">Date</th>
        <th>Description</th>
        <th width="150">Amount</th>
        <th width="32"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="invoices.length < 1">
        <td class="invoices__empty" colspan="4">You haven't received any invoices yet.</td>
      </tr>
      <tr ng-repeat="invoice in invoices">
        <td ng-bind="invoice.date | date"></td>
        <td ng-bind="invoice.description"></td>
        <td ng-bind="invoice.amount | currency : '&euro; '"></td>
        <td>
          <a ng-href="{{invoice.attachment}}" ng-show="invoice.attachment" target="_blank">
            <i data-icon="&#xe085;"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
