<div class="settings__billing">
  <h3>Billing History</h3>

  <table>
    <thead>
      <tr>
        <th width="200">Date</th>
        <th>Description</th>
        <th width="150">Amount</th>
        <th width="32"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>March 1, 2015</td>
        <td>Invoice for March 2015</td>
        <td>&euro; 40.00</td>
        <td>
          <i data-icon="&#xe085;"></i>
        </td>
      </tr>
      <tr>
        <td>Februaro 1, 2015</td>
        <td>Invoice for February 2015</td>
        <td>&euro; 40.00</td>
        <td>
          <i data-icon="&#xe085;"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
