<div class="dashboard__home">

  <!-- documentation overview -->
  <section class="home__documentation">
    <div class="boxed-list">
      <h3>Your blueprints</h3>
      <ul>
        <li ng-show="blueprints.length === 0">
          You don't have any blueprints yet.
        </li>
        <li ng-repeat="blueprint in blueprints">
          <a ui-sref="dashboard.docs.blueprint({ blueprint: blueprint.slug })" ng-bind="blueprint.name"></a>
        </li>
      </ul>
    </div>
  </section>

  <!-- activity overview -->
  <section class="home__activity">

  </section>

  <!-- metrics overview -->
  <section class="home__metrics" ng-show="metrics.length > 0">

    <h3>Metrics for the last 5 minutes</h3>

    <div class="home__metric" ng-repeat="metric in metrics">
      <h4 ng-bind="metric.query"></h4>
      <span class="subheader" ng-bind="metric.result | number: 2"></span>
    </div>

  </section>

</div>
