<nav class="dashboard__nav top-bar" role="navigation">
  <div class="row">
    <div class="small-12 columns">

    <ul class="title-area">
      <li class="name">
        <h1>
          <a ui-sref="dashboard.home">
            <img class="astromo__logo" src="images/astromo@2x.png" alt="Astromo">
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>

    <section class="top-bar-section">

      <ul class="right">

        <li
          class="has-dropdown"
          ng-class="{ 'active' : state.includes('dashboard.settings') }">
          <a>
            <img class="nav__avatar"
              ng-src="{{ profile.avatar }}" alt="{{ profile.full_name }}">
            <span ng-bind="profile.full_name"></span>
          </a>
          <ul class="dropdown" id="profile">
            <li><a ui-sref="dashboard.settings.profile"><i data-icon="&#xe005;"></i> Profile</a></li>
            <li><a ui-sref="dashboard.settings.billing"><i data-icon="&#xe025;"></i> Billing</a></li>
            <li><a ui-sref="logout"><i data-icon="&#xe065;"></i> Sign Out</a></li>
          </ul>
        </li>
      </ul>

      <ul class="left">
        <li ui-sref-active="active" ui-sref="dashboard.home">
          <a><i class="icon" data-icon="&#xe020;"></i> Dashboard</a>
        </li>
        <li ui-sref-active="active" ui-sref="dashboard.metrics">
          <a><i data-icon="&#xe06b;"></i> Metrics</a>
        </li>
        <li ui-sref-active="active" ui-sref="dashboard.docs" ui-sref-opts="{ reload: true }">
          <a><i data-icon="&#xe04c;"></i> Documentation</a>
        </li>
        <li ui-sref-active="active">
          <a><i data-icon="&#xe08e;"></i> Security</a>
        </li>
      </ul>
    </section>

    </div>
  </div>
</nav>

