<div class="astromo-icon-bar vertical six-up label-right">

  <div class="item">
    <img class="astromo__logo" src="images/astromo@2x.png" alt="ASTROMO">
  </div>

  <a class="item" ui-sref-active="active" ui-sref="dashboard.home">
    <i data-icon="&#xe007;"></i>
    <label>Overview</label>
  </a>

  <a class="item" ui-sref-active="active" ui-sref="dashboard.metrics">
    <i data-icon="&#xe06b;"></i>
    <label>Metrics</label>
  </a>

  <a class="item" ui-sref-active="active" ui-sref="dashboard.docs">
    <i data-icon="&#xe04c;"></i>
    <label>Documentation</label>
  </a>

  <a class="item" ui-sref-active="active">
    <i data-icon="&#xe08e;"></i>
    <label>Security</label>
  </a>

  <a ng-click="expand()"
    class="item item__profile" ng-class="{ 'active' : state.includes('dashboard.settings') }"
    data-dropdown="profile" data-options="pip: center"
    aria-controls="profile" aria-expanded="false">
    <label ng-bind="profile.full_name"></label>
  </a>
  <ul id="profile" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
    <li><a ui-sref="dashboard.settings.profile">Profile</a></li>
    <li><a ui-sref="dashboard.settings.billing">Billing</a></li>
    <li><a ui-sref="logout">Logout</a></li>
  </ul>

</div>

