<div class="dashboard__login">

  <div class="login__form">

    <img class="login__logo" src="images/astromo@2x.png" alt="ASTROMO">

    <div class="panel radius">

      <div data-alert class="alert-box alert radius" ng-show="error.message">
        <div ng-bind="error.message"></div>
      </div>

      <h2 class="form__header">Log In</h2>

      <form name="loginForm" novalidate>
        <div class="row">
          <div class="small-12 columns">

            <label for="username">Username
              <input ng-model="user.username" type="text" name="username" id="username" class="radius">
            </label>

            <label for="password">Password
              <input ng-model="user.password" type="password" name="password" id="password" class="radius">
            </label>

            <input type="submit" ng-click="authenticate(user)" class="huge button small-12 radius" value="Log In">
            <small><a href="/it-happens">Forgot password?</a></small>

          </div>
        </div>
      </form>

    </div>

  </div>

</div>
