<div class="dashboard__login">
  <div data-alert class="login__alert alert-box alert" ng-show="error">
    <div ng-bind="error.message"></div>
  </div>

  <div class="login__form">

    <img class="login__logo" src="images/astromo@2x.png" alt="ASTROMO">

    <div class="panel radius">

      <h2 class="form__header">Log In</h2>

      <form name="loginForm">
        <div class="row">
          <div class="small-12 columns">

            <label for="username">Username
              <input ng-model="user.username" type="text" name="username" id="username" class="radius">
            </label>

            <label for="password">Password
              <input ng-model="user.password" type="password" name="password" id="password" class="radius">
            </label>

            <input ng-disabled="loading" class="button" type="submit" ng-click="authenticate(user)" value="Log In">
            <small><a ui-sref="forgot-password">Forgot password?</a></small>

          </div>
        </div>
      </form>

    </div>

  </div>

</div>
